Repository NORTH-YX/ARC, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, config, documentation, dependencies, infrastructure, additional

.github/labeler.yml:

# Labeler configuration
# For more information, see: https://github.com/actions/labeler

# Frontend changes
frontend:
  - 'MainProject/MtdrSpring/backend/src/main/frontend/**/*'

# Backend changes
backend:
  - 'MainProject/MtdrSpring/backend/src/main/java/com/springboot/MyTodoList/**/*'

# Configuration changes
config:
  - 'MainProject/MtdrSpring/backend/src/main/resources/**/*.yml'
  - 'MainProject/MtdrSpring/backend/src/main/resources/**/*.properties'
  - '.github/workflows/**/*.yml'

# Documentation changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Dependencies updates
dependencies:
  - 'MainProject/MtdrSpring/backend/pom.xml'
  - 'MainProject/MtdrSpring/backend/src/main/frontend/package.json'
  - 'MainProject/MtdrSpring/backend/src/main/frontend/package-lock.json'

# Infrastructure changes
infrastructure:
  - 'MainProject/MtdrSpring/docker-compose.yml'
  - 'MainProject/MtdrSpring/terraform/**/*'
  - 'MainProject/MtdrSpring/setup.sh'
  - 'MainProject/MtdrSpring/destroy.sh'
  - 'MainProject/MtdrSpring/env.sh'

# Additional changes
additional:
  - 'MainProject/README.md'
  - 'MainProject/CONTRIBUTING.md'
  - 'MainProject/SECURITY.md'
  - 'MainProject/LICENSE.txt'
  - 'MainProject/THIRD_PARTY_LICENSES.txt'
  - 'MainProject/.github/**/*.md'

Update pom.xml
  MainProject/MtdrSpring/backend/pom.xml
Labels: dependencies

Update oci_devops.yml
  oci_devops.yml
Labels: none

Update pom.xml
  MainProject/MtdrSpring/backend/pom.xml
Labels: dependencies

Update pom.xml
  MainProject/MtdrSpring/backend/pom.xml
Labels: dependencies

Update pom.xml
  MainProject/MtdrSpring/backend/pom.xml
Labels: dependencies

Update pom.xml
  MainProject/MtdrSpring/backend/pom.xml
Labels: dependencies

Update oci_devops.yml
  oci_devops.yml
Labels: none

Update oci_devops.yml
  oci_devops.yml
Labels: none

Update pom.xml
  MainProject/MtdrSpring/backend/pom.xml
Labels: dependencies

Update oci_devops.yml
  oci_devops.yml
Labels: none

Update pom.xml
  MainProject/MtdrSpring/backend/pom.xml
Labels: dependencies

Update pom.xml
  MainProject/MtdrSpring/backend/pom.xml
Labels: dependencies

Update pom.xml
  MainProject/MtdrSpring/backend/pom.xml
Labels: dependencies

Update oci_devops.yml
  oci_devops.yml
Labels: none

Update oci_devops.yml
  oci_devops.yml
Labels: none

Update pom.xml
  MainProject/MtdrSpring/backend/pom.xml
Labels: dependencies

Update pom.xml
  MainProject/MtdrSpring/backend/pom.xml
Labels: dependencies

Update oci_devops.yml
  oci_devops.yml
Labels: none

Update oci_devops.yml
  oci_devops.yml
Labels: none

Update oci_devops.yml
  oci_devops.yml
Labels: none

Update oci_devops.yml
  oci_devops.yml
Labels: none

Update oci_devops.yml
  oci_devops.yml
Labels: none

Update oci_devops.yml
  oci_devops.yml
Labels: none

Update pom.xml
  MainProject/MtdrSpring/backend/pom.xml
Labels: dependencies

Update pom.xml
  MainProject/MtdrSpring/backend/pom.xml
Labels: dependencies

Update pom.xml
  MainProject/MtdrSpring/backend/pom.xml
Labels: dependencies

Update pom.xml
  MainProject/MtdrSpring/backend/pom.xml
Labels: dependencies

Update pom.xml
  MainProject/MtdrSpring/backend/pom.xml
Labels: dependencies

Update index.tsx
  MainProject/MtdrSpring/backend/src/main/frontend/src/views/private/routes/crm/routes/dashboard/index.tsx
Labels: frontend

Update pom.xml
  MainProject/MtdrSpring/backend/pom.xml
Labels: dependencies

Update pom.xml
  MainProject/MtdrSpring/backend/pom.xml
Labels: dependencies

Update oci_devops.yml
  oci_devops.yml
Labels: none

Update pom.xml
  MainProject/MtdrSpring/backend/pom.xml
Labels: dependencies

Update pom.xml
  MainProject/MtdrSpring/backend/pom.xml
Labels: dependencies

Update oci_devops.yml
  oci_devops.yml
Labels: none

Create docker-image.yml
  .github/workflows/docker-image.yml
Labels: config

Update oci_devops.yml
  oci_devops.yml
Labels: none

Update docker-image.yml
  .github/workflows/docker-image.yml
Labels: config

Update oci_devops.yml
  oci_devops.yml
Labels: none

Update docker-image.yml
  .github/workflows/docker-image.yml
Labels: config
