Repository NORTH-YX/ARC, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, infrastructure, documentation, dependencies

.github/labeler.yml:

# Labeler configuration
# For more information, see: https://github.com/actions/labeler

# Frontend changes
frontend:
  - MainProject/MtdrSpring/backend/src/main/frontend/**/*
  - MainProject/MtdrSpring/backend/src/main/frontend/package.json
  - MainProject/MtdrSpring/backend/src/main/frontend/package-lock.json

# Backend changes
backend:
  - MainProject/MtdrSpring/backend/src/main/java/**/*
  - MainProject/MtdrSpring/backend/pom.xml
  - MainProject/MtdrSpring/backend/Dockerfile

# Infrastructure changes
infrastructure:
  - MainProject/MtdrSpring/docker-compose.yml
  - MainProject/MtdrSpring/terraform/**/*
  - MainProject/MtdrSpring/setup.sh
  - MainProject/MtdrSpring/destroy.sh
  - MainProject/MtdrSpring/env.sh

# Documentation changes
documentation:
  - MainProject/README.md
  - MainProject/CONTRIBUTING.md
  - MainProject/SECURITY.md
  - MainProject/LICENSE.txt
  - MainProject/THIRD_PARTY_LICENSES.txt
  - MainProject/.github/**/*.md

# Dependencies updates
dependencies:
  - MainProject/MtdrSpring/backend/pom.xml
  - MainProject/MtdrSpring/backend/src/main/frontend/package.json
  - MainProject/MtdrSpring/backend/src/main/frontend/package-lock.json

feat: better kpis and layout
  MainProject/MtdrSpring/backend/src/main/frontend/package-lock.json
  MainProject/MtdrSpring/backend/src/main/frontend/package.json
  MainProject/MtdrSpring/backend/src/main/frontend/src/views/private/routes/crm/routes/dashboard/index.tsx
  MainProject/MtdrSpring/backend/src/main/resources/static/index.html
Labels: frontend, dependencies

feat: Dashboard initializator
  MainProject/MtdrSpring/backend/src/main/frontend/src/hooks/useDashboardInitialization.ts
  MainProject/MtdrSpring/backend/src/main/frontend/src/modules/kpis/hooks/useDataInitialization.ts
  MainProject/MtdrSpring/backend/src/main/frontend/src/views/private/routes/crm/routes/dashboard/components/tasksTable/index.tsx
  MainProject/MtdrSpring/backend/src/main/frontend/src/views/private/routes/crm/routes/dashboard/index.tsx
  MainProject/MtdrSpring/backend/src/main/frontend/src/views/private/routes/crm/routes/projects/components/projectsTable/index.tsx
Labels: frontend

feat: dashobard data initialization. linter
  MainProject/MtdrSpring/backend/src/main/frontend/src/main.tsx
  MainProject/MtdrSpring/backend/src/main/frontend/src/views/private/routes/crm/routes/dashboard/components/SprintPerformance.tsx
  MainProject/MtdrSpring/backend/src/main/frontend/src/views/private/routes/crm/routes/dashboard/index.tsx
Labels: frontend

normalizing fields to lower case
  MainProject/MtdrSpring/backend/src/main/java/com/springboot/MyTodoList/controller/ToDoItemBotController.java
  MainProject/MtdrSpring/backend/src/main/java/com/springboot/MyTodoList/service/AIService.java
  MainProject/MtdrSpring/backend/src/main/java/com/springboot/MyTodoList/validation/MissingParamResolver.java
Labels: backend

task endpoint fix
  MainProject/MtdrSpring/backend/src/main/java/com/springboot/MyTodoList/controller/TaskController.java
  MainProject/MtdrSpring/backend/src/main/java/com/springboot/MyTodoList/controller/ToDoItemBotController.java
  MainProject/MtdrSpring/backend/src/main/java/com/springboot/MyTodoList/service/TaskService.java
Labels: backend

task object in response of put
  MainProject/MtdrSpring/backend/src/main/java/com/springboot/MyTodoList/controller/TaskController.java
Labels: backend

feat: optimistic update. update task store.
  MainProject/MtdrSpring/backend/src/main/frontend/src/api/tasks.ts
  MainProject/MtdrSpring/backend/src/main/frontend/src/modules/tasks/domain/TaskBook.ts
  MainProject/MtdrSpring/backend/src/main/frontend/src/modules/tasks/store/useTaskStore.tsx
  MainProject/MtdrSpring/backend/src/main/frontend/src/views/private/routes/crm/routes/dashboard/components/tasksTable/index.tsx
  MainProject/MtdrSpring/backend/src/main/resources/static/index.html
Labels: frontend

fix: styles
  MainProject/MtdrSpring/backend/src/main/frontend/src/views/private/routes/crm/routes/dashboard/components/tasksTable/index.tsx
  MainProject/MtdrSpring/backend/src/main/frontend/src/views/private/routes/crm/routes/utils.tsx
Labels: frontend

team view finished
  MainProject/MtdrSpring/backend/src/main/frontend/src/layouts/main/sidebar/index.tsx
  MainProject/MtdrSpring/backend/src/main/frontend/src/views/private/routes/crm/routes/teams/components/memberCard/elements.tsx
  MainProject/MtdrSpring/backend/src/main/frontend/src/views/private/routes/crm/routes/teams/components/memberCard/index.tsx
  MainProject/MtdrSpring/backend/src/main/frontend/src/views/private/routes/crm/routes/teams/components/teamTable/elements.tsx
  MainProject/MtdrSpring/backend/src/main/frontend/src/views/private/routes/crm/routes/teams/components/teamTable/index.tsx
  MainProject/MtdrSpring/backend/src/main/frontend/src/views/private/routes/crm/routes/teams/components/teamTable/testData.ts
  MainProject/MtdrSpring/backend/src/main/frontend/src/views/private/routes/crm/routes/teams/index.tsx
  MainProject/MtdrSpring/backend/src/main/frontend/src/views/private/routes/crm/routes/teams/styles.ts
  MainProject/MtdrSpring/backend/src/main/frontend/src/views/private/routes/crm/routes/teams/testData.ts
  MainProject/MtdrSpring/backend/src/main/frontend/src/views/private/routes/crm/routes/utils.tsx
Labels: frontend

Ai bug fixed
  MainProject/MtdrSpring/backend/src/main/java/com/springboot/MyTodoList/controller/ToDoItemBotController.java
  MainProject/MtdrSpring/backend/src/main/java/com/springboot/MyTodoList/validation/MissingParamResolver.java
Labels: backend

CRUD projects
  MainProject/MtdrSpring/backend/src/main/frontend/package-lock.json
  MainProject/MtdrSpring/backend/src/main/frontend/package.json
  MainProject/MtdrSpring/backend/src/main/frontend/src/assets/JpnWind.jpg
  MainProject/MtdrSpring/backend/src/main/frontend/src/assets/OracleArt1.avif
  MainProject/MtdrSpring/backend/src/main/frontend/src/assets/OracleArt2.png
  MainProject/MtdrSpring/backend/src/main/frontend/src/assets/discovery-2.png
  MainProject/MtdrSpring/backend/src/main/frontend/src/modules/projects/hooks/useDataInitialization.ts
  MainProject/MtdrSpring/backend/src/main/frontend/src/modules/projects/store/useProjectStore.tsx
  MainProject/MtdrSpring/backend/src/main/frontend/src/views/private/routes/crm/index.tsx
  MainProject/MtdrSpring/backend/src/main/frontend/src/views/private/routes/crm/routes/projectDashboard/components/sprintComponent/index.tsx
  MainProject/MtdrSpring/backend/src/main/frontend/src/views/private/routes/crm/routes/projectDashboard/index.tsx
  MainProject/MtdrSpring/backend/src/main/frontend/src/views/private/routes/crm/routes/projects/components/deleteModal/index.tsx
  MainProject/MtdrSpring/backend/src/main/frontend/src/views/private/routes/crm/routes/projects/components/editModal/index.tsx
  MainProject/MtdrSpring/backend/src/main/frontend/src/views/private/routes/crm/routes/projects/components/projectsTable/elements.tsx
  MainProject/MtdrSpring/backend/src/main/frontend/src/views/private/routes/crm/routes/projects/components/projectsTable/index.tsx
  MainProject/MtdrSpring/backend/src/main/frontend/src/views/private/routes/crm/routes/projects/components/projectsTable/testData.ts
  MainProject/MtdrSpring/backend/src/main/frontend/src/views/private/routes/crm/routes/projects/index.tsx
  MainProject/MtdrSpring/backend/src/main/frontend/src/views/private/routes/crm/routes/utils.tsx
Labels: frontend, dependencies

some advances in sprints view
  MainProject/MtdrSpring/backend/src/main/frontend/src/api/sprint.ts
  MainProject/MtdrSpring/backend/src/main/frontend/src/interfaces/sprint/index.ts
  MainProject/MtdrSpring/backend/src/main/frontend/src/modules/projects/hooks/useDataInitialization.ts
  MainProject/MtdrSpring/backend/src/main/frontend/src/modules/projects/store/useProjectStore.tsx
  MainProject/MtdrSpring/backend/src/main/frontend/src/modules/sprints/domain/SprintBook.ts
  MainProject/MtdrSpring/backend/src/main/frontend/src/modules/sprints/hooks/useDataInitialization.ts
  MainProject/MtdrSpring/backend/src/main/frontend/src/modules/sprints/hooks/useSprintBook.ts
  MainProject/MtdrSpring/backend/src/main/frontend/src/modules/sprints/store/useSprintStore.ts
  MainProject/MtdrSpring/backend/src/main/frontend/src/views/private/routes/crm/routes/projectDashboard/components/sprintComponent/index.tsx
  MainProject/MtdrSpring/backend/src/main/frontend/src/views/private/routes/crm/routes/projectDashboard/index.tsx
  MainProject/MtdrSpring/backend/src/main/frontend/src/views/private/routes/crm/routes/projects/components/projectsTable/index.tsx
  MainProject/MtdrSpring/backend/src/main/frontend/src/views/private/routes/crm/routes/projects/index.tsx
Labels: frontend

fix: labeler permissions
  .github/workflows/labeler.yml
Labels: none

fix: lint workflow
  .github/workflows/lint.yml
Labels: none

removed Selenium Test from lint.yml
  .github/workflows/lint.yml
Labels: none

fix: superlinter boundaries
  .github/workflows/lint.yml
Labels: none

fix: pr superlinter boundaries
  .github/workflows/pr.yml
Labels: none

fix: auto fix ts typo errors
  .github/workflows/pr.yml
Labels: none

now we can see tasks for each sprint
  MainProject/MtdrSpring/backend/src/main/frontend/src/modules/tasks/store/useTaskStore.tsx
  MainProject/MtdrSpring/backend/src/main/frontend/src/views/private/routes/crm/routes/elements.tsx
  MainProject/MtdrSpring/backend/src/main/frontend/src/views/private/routes/crm/routes/projectDashboard/components/projectDetail/index.tsx
  MainProject/MtdrSpring/backend/src/main/frontend/src/views/private/routes/crm/routes/projectDashboard/components/sprintComponent/elements.ts
  MainProject/MtdrSpring/backend/src/main/frontend/src/views/private/routes/crm/routes/projectDashboard/components/sprintComponent/index.tsx
  MainProject/MtdrSpring/backend/src/main/frontend/src/views/private/routes/crm/routes/utils.tsx
Labels: frontend

modal de team
  MainProject/MtdrSpring/backend/src/main/frontend/src/views/private/routes/crm/routes/teams/components/memberCard/index.tsx
  MainProject/MtdrSpring/backend/src/main/frontend/src/views/private/routes/crm/routes/teams/components/memberModal/index.tsx
  MainProject/MtdrSpring/backend/src/main/frontend/src/views/private/routes/crm/routes/teams/index.tsx
  MainProject/MtdrSpring/backend/src/main/frontend/src/views/private/routes/crm/routes/teams/testData.ts
Labels: frontend

quick fix with conflicts
  MainProject/MtdrSpring/backend/src/main/frontend/src/views/private/routes/crm/routes/dashboard/components/tasksTable/index.tsx
  MainProject/MtdrSpring/backend/src/main/frontend/src/views/private/routes/crm/routes/projects/components/projectsTable/index.tsx
  MainProject/MtdrSpring/backend/src/main/frontend/src/views/private/routes/crm/routes/utils.tsx
Labels: frontend

fix: disable ts validation
  .github/workflows/pr.yml
Labels: none

feat: added precommit
  MainProject/MtdrSpring/backend/src/main/frontend/.husky/pre-commit
  MainProject/MtdrSpring/backend/src/main/frontend/LINTING.md
  MainProject/MtdrSpring/backend/src/main/frontend/README.md
  MainProject/MtdrSpring/backend/src/main/frontend/package-lock.json
  MainProject/MtdrSpring/backend/src/main/frontend/package.json
  MainProject/MtdrSpring/backend/src/main/frontend/setup-hooks.sh
Labels: frontend, dependencies

fix: linter
  MainProject/MtdrSpring/backend/src/main/frontend/src/views/private/routes/crm/routes/dashboard/components/tasksTable/index.tsx
  MainProject/MtdrSpring/backend/src/main/frontend/src/views/private/routes/crm/routes/utils.tsx
Labels: frontend

fix: cicd workflows
  .github/workflows/deploy.yml
  .github/workflows/labeler.yml
  .github/workflows/lint.yml
  .github/workflows/pr.yml
Labels: none

fix: linter
  .github/workflows/lint.yml
  .github/workflows/pr.yml
  MainProject/MtdrSpring/backend/src/main/frontend/eslint.config.js
Labels: frontend
