Repository NORTH-YX/ARC, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, config, documentation, dependencies, infrastructure, additional

last fixes gah dem
  MainProject/MtdrSpring/backend/src/main/frontend/src/modules/tasks/store/useTaskStore.tsx
  MainProject/MtdrSpring/backend/src/main/java/com/springboot/MyTodoList/controller/ProjectController.java
  MainProject/MtdrSpring/backend/src/main/resources/static/index.html
Labels: frontend, backend

bot con ia para demo
  MainProject/MtdrSpring/backend/src/main/java/com/springboot/MyTodoList/controller/ToDoItemBotController.java
  MainProject/MtdrSpring/backend/src/main/java/com/springboot/MyTodoList/model/Task.java
Labels: backend

fix yaml
  MainProject/MtdrSpring/backend/src/main/resources/todolistapp-springboot.yaml
Labels: none

delete cache
  MainProject/MtdrSpring/backend/src/main/resources/application.properties
  MainProject/MtdrSpring/backend/src/main/resources/static/index.html
Labels: config

kpis usuarios por sprint
  MainProject/MtdrSpring/backend/src/main/java/com/springboot/MyTodoList/MyTodoListApplication.java
  MainProject/MtdrSpring/backend/src/main/java/com/springboot/MyTodoList/controller/TaskController.java
  MainProject/MtdrSpring/backend/src/main/java/com/springboot/MyTodoList/repository/TaskRepository.java
  MainProject/MtdrSpring/backend/src/main/java/com/springboot/MyTodoList/service/TaskService.java
  MainProject/MtdrSpring/backend/src/main/resources/todolistapp-springboot.yaml
Labels: backend

fix yaml
  MainProject/MtdrSpring/backend/src/main/resources/todolistapp-springboot.yaml
Labels: none

small changes in titles
  MainProject/MtdrSpring/backend/src/main/frontend/src/views/private/routes/crm/routes/projectDashboard/components/taskComponent/elements.ts
  MainProject/MtdrSpring/backend/src/main/frontend/src/views/private/routes/crm/routes/projectDashboard/components/taskComponent/index.tsx
  MainProject/MtdrSpring/backend/src/main/frontend/src/views/private/routes/crm/routes/projectDashboard/index.tsx
  MainProject/MtdrSpring/backend/src/main/frontend/src/views/private/routes/crm/routes/projectDashboard/styles.ts
  MainProject/MtdrSpring/backend/src/main/frontend/src/views/private/routes/crm/routes/projects/components/projectsTable/index.tsx
  MainProject/MtdrSpring/backend/src/main/frontend/src/views/private/routes/crm/routes/projects/index.tsx
Labels: frontend

refresh problem solved
  MainProject/MtdrSpring/backend/src/main/java/com/springboot/MyTodoList/controller/FrontendController.java
  MainProject/MtdrSpring/backend/src/main/java/com/springboot/MyTodoList/controller/SpaErrorController.java
  MainProject/MtdrSpring/backend/src/main/java/com/springboot/MyTodoList/security/SecurityConfig.java
Labels: backend

feat: reports view.
  MainProject/MtdrSpring/backend/src/main/frontend/src/api/kpis.ts
  MainProject/MtdrSpring/backend/src/main/frontend/src/interfaces/kpis/index.ts
  MainProject/MtdrSpring/backend/src/main/frontend/src/views/private/routes/crm/routes/reports/components/ReportsSummary.tsx
  MainProject/MtdrSpring/backend/src/main/frontend/src/views/private/routes/crm/routes/reports/index.tsx
  MainProject/MtdrSpring/backend/src/main/resources/static/index.html
Labels: frontend

linter fix
  MainProject/MtdrSpring/backend/src/main/frontend/src/views/private/routes/crm/routes/projectDashboard/components/taskComponent/elements.ts
Labels: frontend

test cases
  MainProject/MtdrSpring/backend/src/main/frontend/public/vite.svg
  MainProject/MtdrSpring/backend/src/main/java/com/springboot/MyTodoList/repository/TaskRepository.java
  MainProject/MtdrSpring/backend/src/main/java/com/springboot/MyTodoList/service/TaskService.java
  MainProject/MtdrSpring/backend/src/main/resources/static/vite.svg
  MainProject/MtdrSpring/backend/src/test/java/com/springboot/test/BotControllerTest.java
Labels: frontend, backend

replicas 1
  MainProject/MtdrSpring/backend/src/main/resources/todolistapp-springboot.yaml
Labels: none

delete spa error
  MainProject/MtdrSpring/backend/src/main/java/com/springboot/MyTodoList/controller/SpaErrorController.java
Labels: backend

Implement AI Manager feature for managerial suggestions based on sprint and project data
  MainProject/MtdrSpring/backend/src/main/java/com/springboot/MyTodoList/config/AppConfig.java
  MainProject/MtdrSpring/backend/src/main/java/com/springboot/MyTodoList/controller/AIManagerController.java
  MainProject/MtdrSpring/backend/src/main/java/com/springboot/MyTodoList/dto/StatisticalReportDTO.java
  MainProject/MtdrSpring/backend/src/main/java/com/springboot/MyTodoList/service/AIManagerService.java
  MainProject/MtdrSpring/backend/src/main/java/com/springboot/MyTodoList/service/StatisticalReportService.java
  MainProject/MtdrSpring/backend/src/main/resources/static/index.html
Labels: backend

borrar imagen duplicada
  MainProject/MtdrSpring/backend/src/main/frontend/src/views/public/routes/auth/login/index.tsx
Labels: frontend

Ai manager tips added in dashboard
  MainProject/MtdrSpring/backend/src/main/frontend/src/api/ai-manager.ts
  MainProject/MtdrSpring/backend/src/main/frontend/src/views/private/routes/crm/routes/dashboard/components/AIManagerTips.tsx
  MainProject/MtdrSpring/backend/src/main/frontend/src/views/private/routes/crm/routes/dashboard/index.tsx
  MainProject/MtdrSpring/backend/src/main/java/com/springboot/MyTodoList/controller/AIManagerController.java
Labels: frontend, backend

create task en project dashboard
  MainProject/MtdrSpring/backend/src/main/frontend/src/interfaces/task/index.ts
  MainProject/MtdrSpring/backend/src/main/frontend/src/modules/tasks/store/useTaskStore.tsx
  MainProject/MtdrSpring/backend/src/main/frontend/src/views/private/routes/crm/routes/projectDashboard/components/newTaskModal/index.tsx
  MainProject/MtdrSpring/backend/src/main/frontend/src/views/private/routes/crm/routes/projectDashboard/components/sprintComponent/index.tsx
  MainProject/MtdrSpring/backend/src/main/frontend/src/views/private/routes/crm/routes/projectDashboard/index.tsx
  MainProject/MtdrSpring/backend/src/main/frontend/src/views/private/routes/crm/routes/teams/testData.ts
Labels: frontend

create tasks en dasboard y fix
  .gitignore
  MainProject/MtdrSpring/backend/src/main/frontend/src/views/private/routes/crm/routes/dashboard/components/tasksTable/index.tsx
  MainProject/MtdrSpring/backend/src/main/frontend/src/views/private/routes/crm/routes/projectDashboard/components/newTaskModal/index.tsx
  MainProject/MtdrSpring/backend/src/main/java/com/springboot/MyTodoList/controller/ToDoItemBotController.java
  MainProject/MtdrSpring/backend/src/main/java/com/springboot/MyTodoList/model/Task.java
  MainProject/MtdrSpring/backend/src/main/java/com/springboot/MyTodoList/service/ITaskService.java
  MainProject/MtdrSpring/backend/src/main/java/com/springboot/MyTodoList/service/TaskService.java
  MainProject/MtdrSpring/backend/src/main/resources/static/index.html
  MainProject/MtdrSpring/backend/src/test/java/com/springboot/test/BotControllerTest.java
Labels: frontend, backend

Update oci_devops.yml
  MainProject/oci_devops.yml
Labels: none

move oci_devops
  oci_devops.yml
Labels: none

update yaml location
  oci_devops.yml
Labels: none

update oci devops yaml
  oci_devops.yml
Labels: none

Update oci_devops.yml
  oci_devops.yml
Labels: none

Update index.tsx of dashboard for ci/cd test
  MainProject/MtdrSpring/backend/src/main/frontend/src/views/private/routes/crm/routes/dashboard/index.tsx
Labels: frontend

Update index.tsx por ci/cd test
  MainProject/MtdrSpring/backend/src/main/frontend/src/views/private/routes/crm/routes/dashboard/index.tsx
Labels: frontend

Update index.tsx test
  MainProject/MtdrSpring/backend/src/main/frontend/src/views/private/routes/crm/routes/dashboard/index.tsx
Labels: frontend

Update pom.xml node and npm version
  MainProject/MtdrSpring/backend/pom.xml
Labels: dependencies

Update pom.xml npm y node new fix
  MainProject/MtdrSpring/backend/pom.xml
Labels: dependencies

Update pom.xml
  MainProject/MtdrSpring/backend/pom.xml
Labels: dependencies

Update oci_devops.yml
  oci_devops.yml
Labels: none

Update oci_devops.yml
  oci_devops.yml
Labels: none

Update oci_devops.yml
  oci_devops.yml
Labels: none

Update oci_devops.yml
  oci_devops.yml
Labels: none

Update pom.xml
  MainProject/MtdrSpring/backend/pom.xml
Labels: dependencies

Update oci_devops.yml
  oci_devops.yml
Labels: none

Update oci_devops.yml
  oci_devops.yml
Labels: none

Update pom.xml
  MainProject/MtdrSpring/backend/pom.xml
Labels: dependencies

Update pom.xml
  MainProject/MtdrSpring/backend/pom.xml
Labels: dependencies

Update pom.xml
  MainProject/MtdrSpring/backend/pom.xml
Labels: dependencies

Update oci_devops.yml
  oci_devops.yml
Labels: none

.github/labeler.yml:

# Labeler configuration
# For more information, see: https://github.com/actions/labeler

# Frontend changes
frontend:
  - 'MainProject/MtdrSpring/backend/src/main/frontend/**/*'

# Backend changes
backend:
  - 'MainProject/MtdrSpring/backend/src/main/java/com/springboot/MyTodoList/**/*'

# Configuration changes
config:
  - 'MainProject/MtdrSpring/backend/src/main/resources/**/*.yml'
  - 'MainProject/MtdrSpring/backend/src/main/resources/**/*.properties'
  - '.github/workflows/**/*.yml'

# Documentation changes
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Dependencies updates
dependencies:
  - 'MainProject/MtdrSpring/backend/pom.xml'
  - 'MainProject/MtdrSpring/backend/src/main/frontend/package.json'
  - 'MainProject/MtdrSpring/backend/src/main/frontend/package-lock.json'

# Infrastructure changes
infrastructure:
  - 'MainProject/MtdrSpring/docker-compose.yml'
  - 'MainProject/MtdrSpring/terraform/**/*'
  - 'MainProject/MtdrSpring/setup.sh'
  - 'MainProject/MtdrSpring/destroy.sh'
  - 'MainProject/MtdrSpring/env.sh'

# Additional changes
additional:
  - 'MainProject/README.md'
  - 'MainProject/CONTRIBUTING.md'
  - 'MainProject/SECURITY.md'
  - 'MainProject/LICENSE.txt'
  - 'MainProject/THIRD_PARTY_LICENSES.txt'
  - 'MainProject/.github/**/*.md'
