Repository NORTH-YX/ARC, pull requests merged in 2025-04, with the labels that each got.

#24 Feature/cicd
  .github/labeler.yml
  .github/workflows/deploy.yml
  .github/workflows/labeler.yml
  .github/workflows/lint.yml
  .github/workflows/pr.yml
  MainProject/MtdrSpring/backend/Dockerfile.secure
  MainProject/MtdrSpring/backend/src/main/frontend/eslint.config.js
  MainProject/MtdrSpring/terraform/security_list_example.tf
  MainProject/test/Dockerfile.secure
Labels: frontend, config, infrastructure

#29 Feature/dashboard UI
  .github/workflows/lint.yml
  MainProject/MtdrSpring/backend/src/main/frontend/src/modules/tasks/store/useTaskStore.tsx
  MainProject/MtdrSpring/backend/src/main/frontend/src/views/private/routes/crm/routes/dashboard/components/tasksTable/EditableDateCell.tsx
  MainProject/MtdrSpring/backend/src/main/frontend/src/views/private/routes/crm/routes/dashboard/components/tasksTable/UserSelectCell.tsx
  MainProject/MtdrSpring/backend/src/main/frontend/src/views/private/routes/crm/routes/dashboard/components/tasksTable/index.tsx
  MainProject/MtdrSpring/backend/src/main/frontend/src/views/private/routes/crm/routes/dashboard/components/tasksTable/styles.ts
  MainProject/MtdrSpring/backend/src/main/frontend/src/views/private/routes/crm/routes/utils.tsx
  MainProject/MtdrSpring/backend/src/main/resources/static/index.html
Labels: frontend, config

#30 eliminar controller
  MainProject/MtdrSpring/backend/src/main/java/com/springboot/MyTodoList/controller/UsersController.java
Labels: backend

#31 bot con ia para demo
  MainProject/MtdrSpring/backend/src/main/java/com/springboot/MyTodoList/controller/ToDoItemBotController.java
  MainProject/MtdrSpring/backend/src/main/java/com/springboot/MyTodoList/model/Task.java
Labels: backend

#34 Bot final para demo
  MainProject/MtdrSpring/backend/src/main/java/com/springboot/MyTodoList/MyTodoListApplication.java
  MainProject/MtdrSpring/backend/src/main/java/com/springboot/MyTodoList/controller/TaskController.java
  MainProject/MtdrSpring/backend/src/main/java/com/springboot/MyTodoList/repository/TaskRepository.java
  MainProject/MtdrSpring/backend/src/main/java/com/springboot/MyTodoList/service/TaskService.java
  MainProject/MtdrSpring/backend/src/main/resources/application.properties
  MainProject/MtdrSpring/backend/src/main/resources/todolistapp-springboot.yaml
Labels: config, backend
